@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

body {
  background-color: #161617;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 195px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3rem;
  background: #161617;
}

header .profile-img {
  position: relative;
  margin-left: 3rem;
}

header .profile-img .immg {
  position: absolute;
  top: 40px;
  left: 120px;
  width: 200px;
  opacity: 30%;
  border: none;
}

header .profile-img img {
  width: 110px;
  -o-object-fit: cover;
  object-fit: cover;
  border-bottom: 3px solid #b08855;
  border-top: 3px solid #b08855;
  opacity: 0.7;
  margin-left: 2rem;
  height: 140px;
}

header .name {
  min-height: 100%;
  color: #b08855;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 0.5rem;
}

header .name .frontend {
  color: #b5b6bd;
  font-size: 1.3rem;
}

header .name h1 {
  line-height: 1;
  letter-spacing: 2;
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 2px;
}

main {
  padding: 2rem 5rem;
  background: #161617;
  color: #b5b6bd;
  font-size: 1.2rem;
}

main section {
  margin-bottom: 2rem;
}

main section a {
  color: #b5b6bd;
}

main section h3 {
  display: inline-block;
  background: #b0895522;
  color: #b08855;
  padding: 2px 10px;
  border-radius: 2px;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  letter-spacing: 3px;
  text-decoration: underline;
}

main .details {
  line-height: 1.5;
}

main .details .e-mail {
  text-decoration: underline;
}

main .profile p {
  line-height: 1.5;
}

main .education .school:nth-child(2) {
  margin-bottom: 1rem;
}

main .education .school h5 {
  font-size: 1rem;
}

main .education .school p {
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: #bbbbbb;
}

main .imgg2 {
  position: relative;
}

main .imgg2 .immmg {
  position: absolute;
  bottom: 300px;
  left: 1px;
  width: 300px;
  height: 300px;
  opacity: 30%;
  border: none;
}

main .skill-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

main .skill {
  width: 45%;
}

main .skill h5 {
  margin-bottom: 0.5rem;
}

main .skill .indicator {
  height: 7px;
  background: #bbbbbb;
}

main .skill .indicator .in20 {
  width: 10%;
}

main .skill .indicator .in81 {
  width: 40%;
}
main .skill .indicator .in80 {
  width: 85%;
}

main .skill .indicator .in60 {
  width: 60%;
}

main .skill .indicator .in85 {
  width: 80%;
}
main .skill .indicator .in899 {
  width: 40%;
}

main .skill .indicator .in100 {
  width: 100%;
}

main .skill .indicator .in140 {
  width: 50%;
}

main .skill .indicator span {
  display: block;
  height: 100%;
  width: 100%;
  background: #b08855;
}

@media (max-width: 700px) {
  body {
    background: #161617;
  }
  header {
    height: 200px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  header .name {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
  header .name h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 550px) {
  .skill-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .skill-container .skill {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */
