
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

$title-bg: #161617;
$title-color: #b08855;
$light-text: #84858d;
$indicator-container: #b5b6bd;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

body{
  background-color: $title-bg;
}
.wrapper{
  max-width: 1000px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: flex-start;
  height: 195px;
  align-items: center;
  gap: 3rem;
  background: $title-bg;
  
  .profile-img {  
    position: relative;
    margin-left: 3rem;

    .immg{
    position: absolute;
    top: 40px;
    left: 120px; 
    width: 200px;
    height: 100px;    
    opacity: 30%;
    border:none;
    } 
   
    img {
    height: 160px;
    width: 110px;
    object-fit: cover;
    border-bottom: 3px solid $title-color;
    border-top: 3px solid $title-color;
    opacity: 0.7; 
    margin-left: 2rem;   
    }
  }

  .name {
    min-height: 100%;
    color: $title-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;

  .frontend{
      color: $indicator-container;
      font-size: 1.3rem;
    }

    h1 {
      line-height: 1;
      letter-spacing: 2;
      font-style: normal;
      font-size: 3rem;
      letter-spacing: 2px;
    }
  }
}

main {
  padding: 2rem 5rem;
  background: #161617;
  color: $indicator-container;
  font-size: 1.2rem;
  section {
    margin-bottom: 2rem;

    a{
      color:$indicator-container;
    }

    h3 {
      display: inline-block;
      background: #b0895522;
      color: $title-color;
      padding: 2px 10px;
      border-radius: 2px;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      letter-spacing: 3px;
      text-decoration: underline;
    }
  }

  .details {
    line-height: 1.5;
   
    .e-mail {
      text-decoration: underline;
    }
  }

  .profile {
    p {
      line-height: 1.5;
    }
  }

  .education {
    .school {
      &:nth-child(2) {
        margin-bottom: 1rem;
      }
      h5 {
        font-size: 1rem;
      }
      p {
        font-weight: bold;
        font-size: .9rem;
        letter-spacing: 1px;
        color:  rgb(187, 187, 187);
      }
    }
  }


  .imgg2{
    position: relative;

    .immmg{
    position: absolute;
    bottom: 300px;
    left: 1px; 
    width: 300px;
    height: 300px;    
    opacity: 30%;
    border:none;
    }
  }

  .skill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
  }

  .skill {
    width: 45%;

    h5 {
      margin-bottom: .5rem;
    }

    .indicator {
      height: 7px;
      background: rgb(187, 187, 187);

    
      .in20 {
        width: 10%;
      }
      
      .in81 {
        width: 40%;
      }

      .in60 {
        width: 60%;
      }

      .in85 {
        width: 80%;
      }

      .in100 {
        width: 100%;
      }
  
      span {
        display: block;
        height: 100%;
        width: 75%;
        background: #b08855;
      }
    }
  }
}

@media (max-width: 700px) {

  body{
    background: #161617;
  }
  header{
    height: 200px;
    align-items: center;

   .name{
    font-size: 0.05rem;
    margin-left: 1rem;
 

    h1 {
      font-size:0.08rem 
      }
    }
  }
}

@media (max-width: 550px) {
  .skill-container{
    flex-direction: column;
  
    .skill {
      width: 100%;
    }
  }
}