@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100;0,200;0,400;1,100;1,200;1,300;1,400;1,600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Serif Display", serif;
}

body {
  overflow-x: hidden;
  background: rgb(255, 255, 255);
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  background: rgb(58, 58, 58);
  display: flex;
  justify-content: flex-start;
  height: 195px;
  align-items: center;
  gap: 3rem;
}
header .profile-img {
  position: relative;
  margin-left: 3rem;
}
header .profile-img .immg {
  position: absolute;
  top: 40px;
  left: 120px;
  width: 200px;
  height: 100px;
  opacity: 30%;
  border: none;
  filter: grayscale(1);
}
header .profile-img img {
  height: 170px;
  width: 110px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 3px solid white;
  opacity: 0.8;
  margin-left: 2rem;
}
header .name {
  min-height: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  z-index: 999999;
}
header .name h1 {
  line-height: 1;
  letter-spacing: 2;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: 2px;
}

main {
  background: #262626;
  padding: 2rem 5rem;
  color: white;
  font-size: 1.2rem;
}
main section {
  margin-bottom: 2rem;
}
main section a {
  color: white;
  font-weight: 300;
}
main section h3 {
  display: inline-block;
  background: rgba(255, 255, 255, 0.29);
  color: white;
  padding: 2px 10px;
  border-radius: 2px;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  letter-spacing: 3px;
  border-bottom: 2px solid white;
  font-weight: 500;
  font-style: italic;
}
main .details {
  line-height: 1.5;
}
main .details p {
  font-weight: 300;
  font-size: 1rem;
}
main .details a {
  font-weight: 300;
  font-weight: italic;
  text-decoration: none;
  font-size: 1rem;
}
main .details .social-links {
  margin-top: 1rem;
}
main .details .social-links a {
  background-color: #5d5d5d;
}
main .details .social-links a .icon {
  width: 30px;
  height: 30px;
  background-color: #f0f0f0;
}
main .details .social-links a .icon1 {
  width: 30px;
  height: 30px;
  background-color: #f0f0f0;
}
main .profile p {
  line-height: 1.5;
  font-weight: 300;
}
main .education .school:nth-child(2) {
  margin-bottom: 1rem;
}
main .education .school h5 {
  font-size: 1rem;
}
main .education .school p {
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: rgb(187, 187, 187);
}
main .experience .sales p {
  color: rgb(187, 187, 187);
}
main .imgg2 {
  position: relative;
}
main .imgg2 .immmg {
  position: absolute;
  bottom: 300px;
  left: 1px;
  width: 300px;
  height: 300px;
  opacity: 30%;
  border: none;
  filter: grayscale(1);
}
main .skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}
main .skill {
  width: 45%;
}
main .skill h5 {
  margin-bottom: 0.5rem;
}
main .skill .indicator {
  height: 7px;
  background: rgba(187, 187, 187, 0.35);
}
main .skill .indicator .in01 {
  width: 90%;
}
main .skill .indicator .in02 {
  width: 85%;
}
main .skill .indicator .in03 {
  width: 60%;
}
main .skill .indicator .in04 {
  width: 70%;
}
main .skill .indicator .in05 {
  width: 75%;
}
main .skill .indicator .in06 {
  width: 70%;
}
main .skill .indicator .in07 {
  width: 25%;
}
main .skill .indicator .in08 {
  width: 40%;
}
main .skill .indicator .in09 {
  width: 5%;
}
main .skill .indicator .in11 {
  width: 55%;
}
main .skill .indicator .in12 {
  width: 100%;
}
main .skill .indicator .in13 {
  width: 50%;
}
main .skill .indicator span {
  display: block;
  height: 100%;
  width: 75%;
  background: #f7f7f7;
}

@media (max-width: 780px) {
  main {
    padding: 2rem;
  }
  main .hobbies .imgg2 .immmg {
    width: 238px;
    height: 240px;
  }
  main .skill-container {
    flex-direction: column;
  }
  main .skill-container .skill {
    width: 100%;
  }
  header {
    align-items: center;
    gap: 1rem;
  }
  header .profile-img {
    margin-left: 0;
  }
  header .name {
    font-size: 1.5rem;
    margin-left: 0;
    font-weight: 100;
    font-style: italic;
  }
  header .name h1 {
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    line-height: 1.2;
  }
  header .name p {
    text-align: center;
    font-size: 1rem;
  }
  header .profile-img .immg {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */